.section-club {
    display: flex;

    width: 100%
}


.terrain {
    background-image: url('images/stadium_background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    
    height: 713px;
    width: 60%; 
}

.terrain>div {
    width: 50px;
    height: 50px;
    
}
.terrain .joueur1 {
    background-color: white;
    border: solid black;
    position: relative;
    left: ;
    top: ;
    transition: 1s;
}
.terrain .joueur2 {
    background-color: white;
    border: solid black;
    position: relative;
    top: ;
    left: ;
    transition: 1s;
}

.terrain .joueur3 {
    background-color: white;
    border: solid black;
    position: relative;
    left: ;
    transition: 1s;
}

.terrain .joueur4 {
    background-color: white;
    border: solid black;
    position: relative;
    left: ;
    top: ;
    transition: 1s;
}

.terrain .joueur5 {
    background-color: white;
    border: solid black;
    position: relative;
    left: ;
    top: ;
    transition: 1s;
}

.terrain .joueur6 {
    background-color: white;
    border: solid black;
    position: relative;
    left: ;
    top: ;
    transition: 1s;
}

.terrain .joueur7 {
    background-color: white;
    border: solid black;
    position: relative;
    left: ;
    top: ;
    left: ;
    transition: 1s;
}

.terrain .joueur8 {
    background-color: white;
    border: solid black;
    position: relative;
    left: ;
    top: ;
    transition: 1s;
}

.terrain .joueur9 {
    background-color: white;
    border: solid black;
    position: relative;
    left: ;
    top: ;
    transition: 1s;
}

.terrain .joueur10 {

    background-color: white;
    border: solid black;
    position: relative;
    left: ;
    transition: 1s;
}

.terrain .joueur11 {

    background-color: white;
    border: solid black;
    position: relative;
    left: ;
    top: ;
    transition: 1s;
}


.changement-joueurs {
    width: 30%;
    text-align: center;
}

.changement {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 0 40px;
}



.changement .joueur12 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;


}

.changement .joueur13 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;

}

.changement .joueur14 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;


}

.changement .joueur15 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;


}

.changement .joueur16 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;


}

.changement .joueur17 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;


}

.changement .joueur18 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;


}

.changement .joueur19 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;


}

.changement .joueur20 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;


}

.changement .joueur21 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;

}

.changement .joueur22 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;

}

.changement .joueur23 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid black;

}


#fotoProfil{position: relative;
top: -50px;}